.header__lang-link {
  font-size: 24px;
  line-height: 1.17;
}

.header__lang-input[type="radio"]:checked + .header__lang-link{
  border-bottom: 2px solid #fff;
}

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 425px){
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
