.place__paragraph {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 1.6;
}

.place__paragraph:last-of-type {
  margin: 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
@media (max-width: 767px) {
  .place__paragraph {
    padding: 0 16px;
  }
}
