.lead__caption {
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-align: left;
  margin-top: 8px;
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}
